@charset "utf-8";

/* todas as midias */

/* typical device breakpoints
pequenas telas: até 600px
celular: de 600px até 768px
tablet: 768px até 992px
desktop: 992px até 1200px
grandes tela: acima de 1200px
*/

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}*/

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}*/

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}*/

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */


/* 2023
375 × 667 (3,75%)
360×640 (7,28%)
414×896 (4,58%)
1366 × 768 (8,44%)
1536 × 864 (3,88%)
1920×1080 (8,89%) */

@media print {
    body {
        /* background-image: url(/imagens/back-print.jpg); desnecessario */
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main::after {
        content: 'Essa impressão foi feita atraves do site do cursoemvideo';
        text-decoration: overline;
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1536px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1537px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}