@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1e402f;
}
#principal {
    text-align: center;
    color: white;
    background-color: #3c805e;
    font-weight: normal;
}
h2 {
    color: #3c805e;
}

.basico {
    color: #45d82b;
}

.intermediario {
    color: #cace54;
}

.avancado {
    color: #e6391b;
}

.destaque {
    background-color: #eaef53;
    text-decoration: underline;
}