@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: rgb(84, 182, 49);
    width: 100vw;
    height: 100vh;
    color: white;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

#celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: url('../imagens/frame-iphone.png') no-repeat;
    height: 627px;
    width: 311px;

}

#tela {
    position: relative;
    top: 82px;
    left: 24px;

    width: 265px;
    height: 467px;
}